services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"   
      - "5173:5173"  
    environment:
      APP_ENV: "docker"
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: hospital_db  
      DB_USERNAME: root
      DB_PASSWORD: rootpassword
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: hospital_db    
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hospital_db 
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin    
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  mysql_data:
