services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: bpm_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    ports:
      - "8000:8000"   # Laravel dev server
      - "5173:5173"   # Vite hot reload
    depends_on:
      - db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: hospital_db
      DB_USERNAME: root
      DB_PASSWORD: root
    command: >
      sh -c "composer install --no-interaction --optimize-autoloader &&
             php artisan key:generate &&
             php artisan serve --host=0.0.0.0 --port=8000"

  db:
    image: mysql:8
    container_name: db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hospital_db
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bpm_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data:
